* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

section {
  height: 100vh;
}

.mobile {
  display: none;
}

.border-button {
  border: 2px solid black;
  border-radius: 3px;
  padding: 10px;
  width: 100px;
  text-align: center;
  cursor: pointer;
}

.border-button:hover {
  background-color: black;
  color: white;
}

.border-button:hover a {
  color: white;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%, -50%);
  transform: translate(-50%, -50%);
}

.text-center {
  text-align: center;
}

#info-page, #menu-icon {
  display: none;
}

/* animation for border around E */
.logo #layer4 path {
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
}

.logo #layer4 path:nth-child(1) {
  animation: animate-border 1s linear forwards;
}
.logo #layer4 path:nth-child(2) {
  animation: animate-border 1s 0.28s linear forwards;
}
.logo #layer4 path:nth-child(3) {
  animation: animate-border 0.5s 0.5s linear forwards;
}
.logo #layer4 path:nth-child(4) {
  animation: animate-border 1s 0.8s linear forwards;
}
.logo #layer4 path:nth-child(5) {
  animation: animate-border 1s 1.08s linear forwards;
}
.logo #layer4 path:nth-child(6) {
  animation: animate-border 0.5s 1.2s linear forwards;
}

@keyframes animate-border {
  to {
    stroke-dashoffset: 0;
  }
}

/* landing page animation for E */
.logo #layer5 path {
  animation: 1s ease-in 1.4s forwards fade-in;
  opacity: 0;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.logo {
  animation: 0.5s ease-in 2.3s forwards shrink;
}

@keyframes shrink {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}

/* header style */
#header {
  display: flex;
  justify-content: space-between;
  background-color: white;
  z-index: 100;
}

.flex {
  display: flex;
  justify-content: center;
}

.flex-vertical {
  flex-direction: column;
  align-items: center;
}

#bio {
  max-width: 500px;
  text-align: left;
  font-size: 1.2rem;
}

.icon {
  margin: 15px 10px;
  height: 25px;
  filter: grayscale(100%) contrast(100);
}

.website-a a {
  color: grey;
}

ul {
  font-size: 1rem;
}

/* have list of links in header horizontally */
.list {
  display: flex;
  justify-content: right;
  list-style-type: none;
}

.list li {
  padding: 20px;
}

a {
  color: black;
}

/* remove underline from header links */
a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
}

/* font for numbers */
span {
  font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono,
    DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
}

#main .section-body {
  padding-top: 0;
}

.small-logo {
  height: 50px;
  margin: 0 25px;
}

/* sections styling */
#main {
  opacity: 0;
  animation: 0.75s ease-in 0.5s forwards slide-up;
  display: flex;
  justify-content: center;
  padding: 100px 0;
}

@keyframes slide-up {
  from {
    opacity: 0.15;
    line-height: 100px;
  }
  to {
    opacity: 1;
    line-height: 25px;
  }
}

#hello {
  margin: 0px 0px 30px 4px;
  font-size: 1rem;
  font-weight: 400;
  font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono,
    DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
}

#name {
  font-size: 2.5rem;
  line-height: 1.1;
  margin: 15px 0;
  font-weight: 900;
  letter-spacing: 5px;
}

#command {
  font-size: 2.5rem;
  line-height: 1.1;
  margin: 15px 0;
  font-weight: 900;
  letter-spacing: 5px;
  max-width: 500px;
  color: #4d4d4d;
}

#synopsis {
  max-width: 500px;
  margin: 20px 0px 50px;
  font-size: 18px;
  color: #363636;
}

@keyframes slide-down {
  from {
    opacity: 0.25;
    line-height: -2000px;
  }
  to {
    opacity: 1;
    line-height: 25px;
  }
}

#header li {
  border-bottom: 2px solid transparent;
}

#header li:hover {
  border-bottom: 2px solid black;
}

.section-body {
  position: relative;
}

.section-title h3 {
  font-size: 1.5rem;
  transform: translateX(-25%);
  margin-bottom: 20px;
  text-align: center;
}

.section-title h3 span {
  font-weight: 200;
  color: #4d4d4d;
}

/* horizontal bar after section title */
.section-title > h3:after {
  content: "";
  position: absolute;
  top: 50%;
  border-bottom: 2px solid #4d4d4d;
  width: 200px;
  margin: 0 20px;
}

.temp {
  display: flex;
  justify-content: left;
}

.subtitle h3 {
  font-size: 1.1rem;
}

.skills h3 {
  font-size: 1rem;
  margin-bottom: 10px;
  background-color: black;
  color: white;
  font-weight: lighter;
  height: 40px;
  line-height: 20px;
  text-align: left;
  padding: 0 10px;
}

.skills .skill-el {
  font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono,
    DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
  font-size: 1rem;
}

.grid {
  display: grid;
  grid-template-columns: auto auto;
}

/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 700px;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  background-color: black;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

.container h2 {
  font-size: 1.2rem;
}

/* The circles on the timeline */
.container::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid black;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid black;
  border-width: 10px 10px 10px 0;
  border-color: transparent black transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -16px;
}

/* The actual content */
.content {
  padding: 20px 30px;
  position: relative;
  border-radius: 3px;
  border: 6px solid black;
  color: black;
}

#menu-sidebar .mobile-vertical {
   transform: translateY(50%);
}

/* Project section */
.project {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: center;
}

.project-content {
  text-align: right;
  position: relative;
  width: 500px;
  margin-left: -15%;
  z-index: 3;
}

.project-content h4 {
  font-size: 1.2rem;
  transform: unset;
  margin-bottom: 30px;
}

.project-description {
  /* transition: var(--transition); */
  position: relative;
  z-index: 2;
  padding: 25px;
  background-color: black;
  color: white;
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.5);
}

.project-tech {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: 2;
  margin: 25px 0px 10px;
  padding: 0px;
  list-style: outside none none;
  justify-content: flex-end;
}

.project-tech li {
  margin: 0px 0px 5px 20px;
  font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono,
    DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
    font-size: 12px;
    color: #4d4d4d;
}

.project-links svg {
  height: 20px;
  width: 20px;
  fill: black;
  margin: 0 10px;
}

.project-image img:hover {
  filter: none;
}

.project-image img {
  max-width: 400px;
  height: 240px;
  filter: grayscale(100%);
}

@media screen and (max-width: 349px) {
  h3 {
    font-size: 1rem;
  }

  .mobile {
    display: block;
  }

  .desktop {
    display: none;
  }

  /* hamburger icon styling */
  .hamburger {
    top: 50%;
    width: 50px;
    height: 6px;
    position: absolute;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    background-color: #4d4d4d;
    transition: 0.5s;
  }

  .hamburger:before {
    top: -16px;
  }

  .hamburger:after {
    top: 16px;
    background-color: black;
  }

  .hamburger-container.active-one .hamburger-one {
    background: rgba(0, 0, 0, 0);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0);
  }

  .hamburger-container.active-one .hamburger-one:before {
    top: 0;
    transform: rotate(45deg);
  }

  .hamburger-container.active-one .hamburger-one:after {
    top: 0;
    transform: rotate(135deg);
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
  }

  .hamburger-container {
    position: absolute;
    right: 25px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    z-index: 100;
  }

  .hamburger-one:before,
  .hamburger-one:after {
    content: "";
    position: absolute;
    width: 50px;
    height: 6px;
    background-color: #4d4d4d;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
  }

  #menu-sidebar {
     background-color: white;
     height: 100vh;
     display: none;
     position: absolute;
     z-index: 99;
     position: fixed;
     right: 0;
     text-align: center;
     width: 60%;
  }

  #name,
  #command {
    font-size: 1.5rem;
  }

  #main {
    justify-content: left;
    height: 500px;
    margin-left: 10%;
  }

  #work-section,
  #project-section {
    height: 500px;
  }

  #work-section {
     margin-left: 10%;
  }

  #about-section {
    height: 1000px;
  }

  #bio {
    font-size: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 15px;
  }

  .mobile-vertical {
    flex-direction: column;
  }

  .section-title h3 {
    font-size: 1.2rem;
    text-align: center;
  }

  .section-title > h3:after {
    width: 100px;
  }

  .grid {
     margin-left: 7.5%;
  }

  .skills h3 {
    font-size: 12px;
  }

  /* move timeline to left of screen instead of center */
  .timeline {
    transform: translateX(-150px);
  }

  #command,
  #synopsis {
    max-width: 300px;
  }

  .skills .skill-el {
     font-size: 12px;
  }

  .subtitle {
     display: flex;
     justify-content: center;
  }

  .container {
     max-width: 250px;
  }

  .project-content h4 {
    font-size: 1.4rem;
    color: black;
  }

  .project-content {
    text-align: center;
    position: relative;
    width: 90vw;
    margin-left: unset;
    color: white;
    font-size: 1rem;
  }

  .project-tech {
    justify-content: center;
  }

  .project-tech li {
    color: black;
  }

  .project-links svg {
    fill: black;
  }

  .project-links svg:hover {
    height: 30px;
    width: 30px;
  }

  .project-image img {
    width: 90vw;
    max-width: unset;
    height: unset;
    filter: grayscale(100%);
  }

  .project {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}

@media screen and (min-width: 350) and (max-width: 750px) {
  h3 {
    font-size: 1rem;
  }

  .mobile {
    display: block;
  }

  .desktop {
    display: none;
  }

  /* hamburger icon styling */
  .hamburger {
    top: 50%;
    width: 50px;
    height: 6px;
    position: absolute;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    background-color: #4d4d4d;
    transition: 0.5s;
  }

  .hamburger:before {
    top: -16px;
  }

  .hamburger:after {
    top: 16px;
    background-color: black;
  }

  .hamburger-container.active-one .hamburger-one {
    background: rgba(0, 0, 0, 0);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0);
  }

  .hamburger-container.active-one .hamburger-one:before {
    top: 0;
    transform: rotate(45deg);
  }

  .hamburger-container.active-one .hamburger-one:after {
    top: 0;
    transform: rotate(135deg);
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
  }

  .hamburger-container {
    position: absolute;
    right: 25px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    z-index: 100;
  }

  .hamburger-one:before,
  .hamburger-one:after {
    content: "";
    position: absolute;
    width: 50px;
    height: 6px;
    background-color: #4d4d4d;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
  }

  #menu-sidebar {
     background-color: white;
     height: 100vh;
     display: none;
     position: absolute;
     z-index: 99;
     position: fixed;
     right: 0;
     text-align: center;
     width: 60%;
  }

  #name,
  #command {
    font-size: 1.5rem;
  }

  #main {
    justify-content: left;
    height: 500px;
    margin-left: 10%;
  }

  #work-section,
  #project-section {
    height: 500px;
  }

  #work-section {
     margin-left: 10%;
  }

  #about-section {
    height: 1000px;
  }

  #bio {
    font-size: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 15px;
  }

  .mobile-vertical {
    flex-direction: column;
  }

  .section-title h3 {
    font-size: 1.2rem;
    text-align: center;
  }

  .section-title > h3:after {
    width: 100px;
  }

  .grid {
     margin-left: 7.5%;
  }

  .skills h3 {
    font-size: 12px;
  }

  /* move timeline to left of screen instead of center */
  .timeline {
    transform: translateX(-150px);
  }

  #command,
  #synopsis {
    max-width: 300px;
  }

  .skills .skill-el {
     font-size: 12px;
  }

  .subtitle {
     display: flex;
     justify-content: center;
  }

  .container {
     max-width: 250px;
  }

  .project-content h4 {
    font-size: 1.4rem;
  }

  .project-content {
    text-align: center;
    position: absolute;
    width: 90vw;
    margin-left: unset;
    color: white;
    font-size: 1rem;
  }

  .project-tech {
    justify-content: center;
  }

  .project-tech li {
    color: white;
  }

  .project-links svg {
    fill: white;
  }

  .project-links svg:hover {
    height: 30px;
    width: 30px;
  }

  .project-image img {
    width: 90vw;
    max-width: unset;
    height: unset;
    filter: grayscale(100%);
  }
}
